:root {
  --primary: #1aac83;
}
.articles_container {
  margin: 10px 40px;
}
@media screen and (min-width: 768px) {
  .articles_container {
    margin: 10px 40px;
    width: 40%;
    margin: 0 auto;
  }
}

.articles {
  padding: 2rem 2rem;
  position: relative;
  font-family: "Poppins";
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  background: #121212;
  box-shadow: 5px 5px 5px #000;
}

.title {
  font-size: 25px;
  font-weight: 900;
  color: #c6c3c3;
  line-height: 30px;
  text-decoration: none;
}

.article_footer {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.author {
  font-size: 13px;
  color: rgb(129, 126, 126);
}

.article {
  font-family: "Poppins";
  width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  height: 100vh;
}
.article h2 {
  text-align: start;
  color: #28b4ad;
  line-height: 35px;
  margin-bottom: 10px;
}
.article span {
  color: rgb(128, 126, 126);
  margin-right: 20px;
  font-size: 14px;
}
.article p {
  margin-top: 20px;
  text-indent: 50px;
  text-align: start;
}

.newArticleForm {
  padding: 2rem 3rem;
}

.tag {
  font-size: 12px;
  color: rgb(255, 255, 255);
  background: rgb(3, 112, 81);
  box-shadow: 0 0 7px rgb(3, 112, 81);
  padding: 0.2rem 0.5rem;
  border-radius: 18px;
}

.tag_holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 6px;
  margin-top: 10px;
}

@media (max-width: 670px) {
  .articles {
    padding: 1.5rem 2rem;
  }
  .title {
    font-size: 16px;
    line-height: 10px;
  }
  .author {
    font-size: 12px;
    color: rgb(129, 126, 126);
  }
  .tag {
    font-size: 10px;
  }
  .article_footer {
    font-size: 12px;
  }
  .article {
    width: 90%;
    margin: 0 auto;
  }
  .loading {
    font-size: 100px;
    position: fixed;
    animation: rot 2s;
    left: 0;
    top: 200px;
  }
}

.loading {
  font-size: 100px;
  position: relative;
  animation: rot 2s;
  left: 45%;
  top: 200px;
}

@keyframes rot {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
