* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg1: #040013;
  --bg2: #1f242d;
}

body {
  background: linear-gradient(135deg, rgb(68, 67, 67), rgb(0, 0, 0));
  color: #fff;
}
